h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

/* The same as the upper code */
h2 {
    font: bold 14px sans-serif; 
}

header, section, footer, aside, nav, article, hgroup {
    border: 1px solid black;
    display: block;
}

/* Affects all the body */
body{
    text-align: center;
}

.group {
    width: 960px;
    margin: 15px auto; /* 15 pixels affects to the top and bot of the page and the auto affects the right and the left */
    padding: 40px; /* Space of 40 pixels inside the elements of the 'div' box */
}

.header {
    background: #81ecec;
}

.menu {
    background: #74b9ff;
    padding: 5px 15px;
    text-align: left;
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.header h1 {
    text-align: left;
    padding-left: 15px;
}