h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

/* The same as the upper code */
h2 {
    font: bold 14px sans-serif; 
}

header, section, footer, aside, nav, article, hgroup {
    border: 1px solid black;
    display: block;
}

/* Affects all the body */
body{
    text-align: center;
}

.group {
    width: 960px;
    margin-top: 200px;
    margin: 15px auto;
}